asgiref==3.3.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
config==0.5.0.post0
Django==3.1.7
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
idna==2.10
lxml==4.6.3
Markdown==3.3.4
mysql==0.0.3
mysql-connector-python==8.0.25
mysqlclient==2.0.3
protobuf==3.17.3
pycparser==2.20
PyJWT==1.7.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.4
